{% extends 'my_app/base.html' %}
{% load static %}


{% block main-content %}

<!-- background-color: #dfdbe7; -->
<div class="container mb-4" style="margin-top: 100px;" >
    <div class="row p-4 m-auto" style="
        
        background-image: linear-gradient(to right , rgba(143, 135, 151, 0.7), rgba(131, 122, 184, 0.8));
        height: 100%; border-radius: 15px;">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 m-auto">
            <img src="{% static 'my_app/images/senior-pst.png' %}" style="
                        border-radius: 20px; object-fit: cover; object-position: center;
                        width: 100%; height: 100%; ">
        </div>
        <!-- style="background-color: #dfdbe7; height: 100%;" -->
        <div  class="col-12 col-sm-12 col-md-6 col-lg-5 " >
            <div class="">
                <p class="sub-bold-text quote-p ">The Church Vision</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Ullam qui odit hic numquam quisquam nam neque natus nihil autem impedit.</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eligendi.</p> 
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et obcaecati commodi asperiores consequuntur? A,
                     id aut. Est hic asperiores aliquam nobis adipisci cupiditate amet dolore reiciendis, debitis, 
                     possimus aut! Quisquam perferendis tempore, praesentium doloremque aliquid obcaecati enim nobis,
                     consequatur eius, minima veritatis quam fugiat illo dolorum ad dolorem quas odio!</p>   
            </div>

        </div>

    </div>

</div>
<div style="margin-top: 50px;">

</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-9 m-auto">
            <p>
                The divine visitation of Miss Kathryn Kuhlman caused quite a stir in me till I stumbled into Hebrew 12:23 “
                …the general assembly and church of the firstborn who are registered in heaven, to God the judge of all ,
                 to the spirit of just men made perfect.” It dawned on me that God employed this means- the spirit of just men 
                 made perfect, to communicate to me what he had in stock for my calling; abive all, to chart a spiritual course
                  for similitude in ministry which is hinged on the holy spirit. 
                
            </p>
            <p>
                The December 4, 2001 vision built on this land
                   and gave me a clearer direction as the signpost written and raised by the Angel read “Intimate Vessels’ Church”. 
                   God wanted me to raise in nations vessels that will walk in fellowship, communion and intimacy with the holy spirit
                    (2nd Cor.13:14), thus useful for the master and the prepared for every good work (2nd Tim. 2:21).
                 This became the culmination of the Vision of the church and the Mission of our ministry.
            </p>

            

        </div>

    </div>

</div>

<div>

</div>

{% endblock main-content %}